<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>it.unitn.shoppinglesto.filters.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <servlet-name>RegistrationServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>it.unitn.shoppinglesto.servlet.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>it.unitn.shoppinglesto.servlet.authentication.RegistrationServlet</servlet-class>
    </servlet>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.shoppinglesto.listeners.WebAppContextListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
